In [50]:
cont="china"
for i in range(0,10,2):
    print()
    for char in cont:
        print(cont,end=" ")

china china china china china
china china china china china
china china china china china
china china china china china
china china china china china

In [1]:
print("new changes")

new changes

In [23]:
var = 10
for i in range(10):
    for j in range(2,10,1):
        if var%2 == 0:
            continue
            var += 1
        var+=1
    else:
        var += 1
    print(var)

11
13
15
17
19
21
23
25
27
29

In [1]:
print("new changings")

new changings

# Practice Exercises

### Q#1

In [2]:
l=[]
for i in range(2000,3201):
    if (i%7 == 0) and (i%5 != 0):
        l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### Q#2

In [5]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x-1)        
x = int(input("Enter a number: "))
print(fact(x))

Enter a number: 4
24

### Q#3

In [6]:
n = int(input("Enter a number: "))
d = dict()
for i in range(1,n+1):
    d[i] = i*i
print(d)

Enter a number: 4
{1: 1, 2: 4, 3: 9, 4: 16}

### Q#4

In [4]:
values = input("Enter the numbers for list and tuple: ")
l = values.split(",")
t = tuple(l)
print(l)
print(t)

Enter the numbers for list and tuple: 1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

### Q#5 
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [7]:
import math
c = 30
h = 50
value = []
items = [x for x in input("Enter Number: ").split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
print(value)

Enter Number: 12,14,16
['4', '4', '4']

In [6]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are! \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [8]:
import sys
print("Python Version: ")
print(sys.version)
print("Version Information:")
print(sys.version_info)

Python Version:
3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Version Information:
sys.version_info(major=3, minor=7, micro=6, releaselevel='final', serial=0)

In [26]:
import datetime
now = datetime.datetime.now()
print("Current date and time:")
print(now.strftime("%d/%m/%Y %H:%M:%S"))

Current date and time:
20/05/2020 01:25:57

In [29]:
from math import pi
r = float(input("Enter the radius of the circle: "))
area = pi*r**2
print("Area of circle of radius " + str(r)+" is: "+ str(area))

Enter the radius of the circle: 1.1
Area of circle of radius 1.1 is: 3.8013271108436504

In [32]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
print("Hello " + lname + " " + fname)

Enter first name: amir
Enter last name: amna
Hello amna amir

In [1]:
values = input("Enter comma separated values: ")
list = values.split(",")
tuple = tuple(list)
print("List: ", list)
print("Tuple: ", tuple)

Enter comma separated values: 1,2,3
List:  ['1', '2', '3']
Tuple:  ('1', '2', '3')

In [13]:
help("repr")

Help on built-in function repr in module builtins:

repr(obj, /)
    Return the canonical string representation of the object.

    For many object types, including most builtins, eval(repr(obj)) == obj.

In [15]:
file_name = input("Enter your file name: ")
f_ext = file_name.split(".")
print("Your file extansion is: " + repr(f_ext[-1]))

Enter your file name: myfile.html
Your file extansion is: 'html'

In [27]:
count = 0
for i in range(1,5):
    for j in range(0,5,2):
        if i == j:
            continue
        else:
            count+=1
print(count)

3
5
8
10

In [15]:
l=["A","B","C","D"]
for i in range(len(l)):
    print(l[i], end=" ")

A B C D

In [17]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [36]:
inner =0
cities = ["lahore", "karachi", "Quetta", "Peshawar", "Gilgit"]
provinces =["Punjab", "KPK","Balochistan","Sindh"]
for each_city in cities:
    for each_province in provinces:
        if each_city=="Quetta" and each_province=="KPK":
            print(each_city + " in " +each_province)
        inner += 1
print(inner)

Quetta in KPK
20

In [1]:
x = 'abcd'
for i in x:
    print(i.upper(),end=" ")

A B C D

In [37]:
l=[75,43,66,87]
for i in range(len(l)):
    if l[i]==66:
        print(l[i], end=" ")
    else:
        break

In [47]:
var = 10
inner = 0
for i in range(10):
    for j in range(2,10,1):
        if var % 2 == 0:
            continue
        inner += 1
    print(inner)
    var += 1
print(var)

0
8
8
16
16
24
24
32
32
40
20

In [7]:
d ={}
d_1 = input("Enter your name: ").split(" ")
d[d_1[0]]=d_1[1]
print(d)

Enter your name: name amna
{'name': 'amna'}

In [12]:
d_1 = input("Enter key: ").split(" ")
print(d_1)
d={}
d.update([d_1])
print(d)

Enter key: name amna
['name', 'amna']
{'name': 'amna'}

In [1]:
x = 0 
y = 2 
z = len("Python") 
x = y > z 
print(x)

False

In [6]:
Val = 1 
Val2 = 0 
print(Val, " ", Val2)
Val = Val ^ Val2 
print(Val, " ", Val2)
Val2 = Val ^ Val2 
print(Val, " ", Val2)
Val = Val ^ Val2
print(Val, " ", Val2)

1   0
1   0
1   1
0   1

In [8]:
z, y, x = 2, 1, 0 
x, z = z, y 
y = y - z 
# put line here 
z, y, x = x, z, y 
print(x, y, z)

0 1 2

In [9]:
i = 10 
while i > 0 : 
    i -= 3 
    print("*") 
    if i <= 3: 
        break 
else: 
    print("*")

*
*
*

In [20]:
x = "171" 
y = "205" 
print(x > y)

False

In [14]:
dict = { 'a': 1, 'b': 2,  'c': 3 } 
for item in dict: 
    print(item)

a
b
c

# lst = [[c for c in range(r)] for r in range(3)]  
print(lst)

In [21]:
lst = [2 ** x for x in range(0, 11)]
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [3]:
dict1={"one":3,"two":84}
dict2={"three":1234,"four":3584}
dict3=[dict1,dict2]
print(dict3)
dict4={"three":1234,"four":3584}
dict3.extend(dict4)
print(dict3)
print(dict3[2])

[{'one': 3, 'two': 84}, {'three': 1234, 'four': 3584}]
[{'one': 3, 'two': 84}, {'three': 1234, 'four': 3584}, 'three', 'four']
three

In [11]:
print(0.1+0.2==0.3)

False

In [6]:
print(2%6)

2

In [9]:
y = 10
y += 2
x = y
print(x)

12

In [13]:
var1 = int(input("Enter Number1: "))
var2 = float(input("Enter Number2: "))
if var1 == 5 and var2 == 2.0 and var2 <= 2.5:
    print("within range.")
if var1 == 5 and var2 == 2.0 or var2 == 2.5:
    print("just at boundary")
elif var1 == 5 and var2 > 2.2 or var2 < 3.0:
    print("range2")

Enter Number1: 5
Enter Number2: 2.0
within range.
just at boundary

In [24]:
x = list(["amnamir","female"])
print(x)
print(x[-1])

['amnamir', 'female']
female

In [28]:
counts = [1,2,2,4,5,6,4,7]
count = counts.count(2)
print(count)

2

In [31]:
cities = ["lahore","karachi","quetta","peshawar","gilgit"]
provinces = ["punjab","KPK","balochistan","sindh","gilgit baltistan"]
for each_province in provinces:
    for each_city in cities:
        if each_city == "lahore" and each_province == "punjab":
            print("lahore is capital of punjab.")

lahore is capital of punjab.

In [33]:
count = 0
for i in range(1,5):
    for j in range(0,5,2):
        if i == j:
            continue
        else:
            count += 1
    print(count)

3
5
8
10

In [36]:
count = 0
fruits = ["apple","oranges","strawberry","banana","mango"]
vegetables = ["potato","okra","onion","spinach"]
for fruit in fruits:
    for vegetable in vegetables:
        if fruit == "strawberry" and vegetable == "okra":
            print("we find ",fruit, " and ",vegetable)
        else:
            count += 1
print(count)

we find  strawberry  and  okra
19

In [39]:
x = "abcd"
for i in x:
    print(i.upper(),end=" ")

A B C D

In [41]:
l = [75,43,66,87]
for i in range(len(l)):
    if l[i] == 66:
        print(l[i],end=" ")
    else:
        continue

66

In [1]:
for i in range(0,10,2):
    print()
    for char in "china":
        print(char,end="")

china
china
china
china
china

In [8]:
string = "123456"
print(int(string))

123456

In [5]:
country = "china"
for i in range(0,10,2):
    print()
    for char in country:
        print(country,end=" ")

china china china china china
china china china china china
china china china china china
china china china china china
china china china china china

In [9]:
l = ["a","b","c","d","e","f"]
for i in range(3,6): l[i-1]=l[i]
for i in range(0,6): print(l[i],end=" ")

a b d e f f

In [12]:
names = ["pakistan","bali","purwakarta"]
names.pop()
print(names)

['pakistan', 'bali']

In [31]:
dict1 = {"a":10,"b":2,"c":3}
str1=""
for i in dict1:
    str1 = str1 + str(dict1[i])+" "
    str2= str1[:-1]
    print(str2)
print(str2[::-1])

10
10 2
10 2 3
3 2 01

In [32]:
dict2 = {"diary":1,'book':3,"novel":5}
for keyvalues in dict2.items():
    print(keyvalues)

('diary', 1)
('book', 3)
('novel', 5)

In [36]:
names = {"cities":["lahore","islamabad","karachi","quetta","peshawar","gilgit"],
        "countries": {
            "asia":[],
            "europe":["usa","england","norway"],
            "north":[]
        }
        }
names.remove(["countries"]["europe"]["usa"])
print(names)

AttributeError: 'dict' object has no attribute 'remove'

In [37]:
for i in range(1,3):
    print(i,end=":")
    for j in range(1,10):
        print(j,end=" ")
        if j == 3:
            break
    print()

1:1 2 3
2:1 2 3

In [47]:
l = {"name1":{"address":"ohiyo","phone":"123456","job":True},
     "name7":{"address":"alaska","phone":"692456","job":False},
     "name2":{"address":"bejing","phone":"1698566","job":True},
     "name5":{"address":"jakarta","phone":"12255888","job":False}
    }
for i in l.():
    if l[i]["address"]=="ohiyo":
        print(l[i])

{'address': 'ohiyo', 'phone': '123456', 'job': True}

In [2]:
dicta = {"name":["mike","steve"],"salary":[8000,9000]}
temp = dicta.get("age")

In [3]:
l = [{"country":"albania","capital":"tirana"},
    {"country":"algeria","capital":"algiers"},
    {"country":"afghanistan","capital":"kabul"},
    {"country":"angola","capital":"luanda"}]
for i in l:
    if i["capital"]=="kabul":
        print(i["capital"])

kabul

In [7]:
dict1 = {1:[2,3,4,5],2:[3,4,6,7]}
dict1[1].remove(2)
dict1

{1: [3, 4, 5], 2: [3, 4, 6, 7]}

In [8]:
word = "a b c d a b c d a b c d"
print(word.find('b'),word.find('b',3))

2 10

In [33]:
a1 = [2,4]
a2 = [5,8]
a3 = list()
i=0
j=0
for i in a1:
    for j in a2:
        a3.append((i,j))
        i+=1
        j+=1
print(a3)

[(2, 5), (3, 8), (4, 5), (5, 8)]

In [1]:
total = {}
def insert(items):
    if items in total:
        total[items] += 1
    else:
        total[items] = 1
insert('apple')
insert('ball')
insert('apple')
print(len(total))
print(total)

2
{'apple': 2, 'ball': 1}

In [12]:
reviews= [
  {
    "uid": 1,
    "images": ["https://api.adorable.io/avatars/285/xyz.png"],
    "resturant": { "name": "Resturant XYZ", "address": ["South Padre Island", "TX"], "cuisines": ["Chinese", "Italian", "Japanese"], "image": "https://api.adorable.io/avatars/285/xyz.png" },
    "user": { "name": "Mike Edward", "image": "https://api.adorable.io/avatars/285/xyz.png", "address": "Location" },
    "ratingDate": "25 November 2018",
    "review": "This all day dining place serves",
  },
  {
    "uid": 2,
    "images": ["https://api.adorable.io/avatars/285/xyz.png"],
    "resturant": { "name": "Resturant XYZ", "address": ["South Padre Island", "TX"], "cuisines": ["Chinese", "Italian", "Japanese"], "image": "https://api.adorable.io/avatars/285/xyz.png" },
    "user": { "name": "Mike Edward", "image": "https://api.adorable.io/avatars/285/xyz.png", "address": "Location" },
    "ratingDate": "25 November 2019",
    "review": "This all day dining place serves",
  }
]

In [4]:
x = 0
for i in range(10):
    for j in range(-1,-10,-1):
        x += 1
print(x)

90

In [8]:
l1 = [{"country":{"pakistan":"islamabad","england":"london"}}]
l1[0]["country"]["pakistan"]

'islamabad'

In [13]:
a = {'one':1,'two':2}
b = {'three':3,'four':4}
c = [a , b]
d = {'three':3,'four':4}

c.extend(d)
print(c)
print(c[2])

[{'one': 1, 'two': 2}, {'three': 3, 'four': 4}, 'three', 'four']
three

In [19]:
for num in range(10,14):
    for i in range(2,num):
        print(num,end=" ")
        break

10 11 12 13

In [23]:
a = [0,1,2,3]
i = -2
for i in a:
    print(i)
    i+=1

0 1 2 3

In [2]:
print(float('-98684\n\n\t\n'))

-98684.0

In [3]:
def power(a,b):
    print(a**b)
print('result is', power(5,2))

25
result is None

In [1]:
print(1)

1

In [2]:
def cube(x):
    return x*x*x
x= cube(3)

In [3]:
def afunc():
    pass
print(type(afunc))

<class 'function'>

In [4]:
def a_func_that_returns_nothing():
    print("it returns nothing")
    
a = a_func_that_returns_nothing()
print(a)

it returns nothing
None

In [6]:
print(type(a_func_that_returns_nothing()))

it returns nothing
<class 'NoneType'>

In [1]:
def f(*arg,**args):
    print(args)
    print(arg)
f('testing')

{}
('testing',)

In [3]:
def func(*arg1,*arg2):
    return dict(zip(arg1,arg2))
type(func)

SyntaxError: invalid syntax (<ipython-input-3-12804404a052>, line 1)

In [4]:
def a_func(*arg):
    print(arg)
a_func()

()

In [5]:
def f(**kwarg):
    for key,value in kwarg.items():
        print(key+"=="+value,end=" ")
f(a='x',b='y',c='z')

a==x b==y c==z

In [6]:
def f(*arg):
    for a in arg:
        print(a)
f('my','name',"is","ash",'iq','khan')

my
name
is
ash
iq
khan

In [7]:
def func(name="",**kwargs):
    print(f"Name: {name} ",end=",")
    for i in kwargs:
        print(f "{i}:{kwargs[i]}",end=',')
func(name="ahmad",sname="ali")

SyntaxError: invalid syntax (<ipython-input-7-8a7162ca9146>, line 4)

In [3]:
def func(a,*b,c=0,**d):
    print(a,b,c,d)
func(1,2,3,3,4,c=5,'a'=1,'b'=2)

SyntaxError: keyword can't be an expression (<ipython-input-3-e5054a113acc>, line 3)

In [3]:
def fac(num):
    sums = 0
    copy = num
    while(num):
        r = num%10
        temp = 1
        for i in range(r,1,-1):
            temp = temp * i
        sums += temp
        num //= 10
    if(sums == copy):
        print(copy)
number = int(input("Enter a number: "))
while (number):
    fac(number)
    number -= 1

Enter a number: 145
145
2
1

In [1]:
%%writefile MultiClasses.py

class A:
    def __init__(self):
        self.a = "Class A is called"
    def show(self):
        print(self.a)

class B:
    def __init__(self):
        self.b = "Class B is called"
    def show(self):
        print(self.b)
        
class C:
    def __init__(self):
        self.c = "Class C is called"
    def show(self):
        print(self.c)
        
class D:
    def __init__(self):
        self.d = "Class D is called"
    def show(self):
        print(self.d)

Writing MultiClasses.py

In [2]:
import MultiClasses

In [5]:
c1 = MultiClasses.A()

In [6]:
c1.show()

Class A is called

In [7]:
from MultiClasses import B as classb

In [8]:
c2 = classb()

In [9]:
c2.show()

Class B is called

In [ ]:
# %load MultiClasses.py

class A:
    def __init__(self):
        self.a = "Class A is called"
    def show(self):
        print(self.a)

class B:
    def __init__(self):
        self.b = "Class B is called"
    def show(self):
        print(self.b)
        
class C:
    def __init__(self):
        self.c = "Class C is called"
    def show(self):
        print(self.c)
        
class D:
    def __init__(self):
        self.d = "Class D is called"
    def show(self):
        print(self.d)

In [11]:
%run MultiClasses.py

In [12]:
%pwd

'C:\\Users\\Admin\\Practice'

In [2]:
def favorite_book(title):
    print(f"One of my favorite book is {title}")
favorite_book("Crash Course")

One of my favorite book is Crash Course

In [3]:
def make_shirt(size="large", message="I love Python"):
    print(f"The size of shirt is {size} with a message {message}")
make_shirt(25, "i like my life")
make_shirt(message="i like my life", size=25)
make_shirt()

The size of shirt is 25 with a message i like my life
The size of shirt is 25 with a message i like my life
The size of shirt is large with a message I love Python

Album: Write a function called make_album() that builds a dictionary
describing a music album. The function should take in an artist name and an
album title, and it should return a dictionary containing these two pieces of information. Use the function to make three dictionaries representing different albums. Print each return value to show that the dictionaries are storing the album information correctly.
Use None to add an optional parameter to make_album() that allows you to
store the number of songs on an album. If the calling line includes a value for the number of songs, add that value to the albumâ€™s dictionary. Make at least one new function call that includes the number of songs on an album.

In [1]:
def make_album(artist_name, album_title, songs=None):
    music_album = {}
    music_album['Artist'] = artist_name
    music_album['Title'] = album_title
    if songs:
        music_album['songs'] = songs
    return music_album
while True:
    print("\nEnter informations about Music Album.")
    print("(Enter q for quit.)")
    
    name = input("Enter Artist Name: ")
    if name == 'q':
        break
    title = input("Enter Album Title: ")
    if title == 'q':
        break
    songs = input("Enter number of songs: ")
    if songs == 'q':
        break
    print(make_album(name,title,songs))

Enter informations about Music Album.
(Enter q for quit.)
Enter Artist Name: Atif Aslam
Enter Album Title: Wohi Khuda Hai
Enter number of songs:
{'Artist': 'Atif Aslam', 'Title': 'Wohi Khuda Hai'}

Enter informations about Music Album.
(Enter q for quit.)
Enter Artist Name: q

In [2]:
def show_messages(messages):
    for message in messages:
        print(message)
messages = ['message1','message2','message3']
show_messages(messages)

message1
message2
message3

In [9]:
def send_messages(messages, sent_messages):
    print(f"Lists of copy messages {messages}")
    while messages:
        message = messages.pop()
        print(f"Printing messgaes: {message}")    
        sent_messages.append(message)
    print(f"Lists of original messages {original_messages}")
    print(f"List of sent messages: {sent_messages}")

original_messages = ['message1','message2','message3']
sent_messages = []
send_messages(messages[:],sent_messages)

Lists of copy messages ['message1', 'message2', 'message3']
Printing messgaes: message3
Printing messgaes: message2
Printing messgaes: message1
Lists of original messages ['message1', 'message2', 'message3']
List of sent messages: ['message3', 'message2', 'message1']

In [13]:
def sandwich(*items):
    print("\nWe are making sandwich with the following items:")
    for item in items:
        print("\t", item)

sandwich('mayo','chicken','capsiccum','tomato')
sandwich('garlic bread', 'mustard sauce')
sandwich('fajita chicken')

We are making sandwich with the following items:
	 mayo
	 chicken
	 capsiccum
	 tomato

We are making sandwich with the following items:
	 garlic bread
	 mustard sauce

We are making sandwich with the following items:
	 fajita chicken

In [17]:
def build_profile(first_name,last_name,**optional):
    optional['Firts Name'] = first_name
    optional['Last Name'] = last_name
    
    return optional

users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
    },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 }
build_profile('Amna','Amir',Location={'Pakistan':'Gujranwala'})

{'Location': {'Pakistan': 'Gujranwala'},
 'Firts Name': 'Amna',
 'Last Name': 'Amir'}

In [19]:
def make_car(manufecturer,model,**features):
    features['Manufacturer'] = manufecturer
    features['Model'] = model
    
    return features
    
car = make_car('subaru', 'outback', color='blue', tow_package=True)
print(car)

{'color': 'blue', 'tow_package': True, 'Manufacturer': 'subaru', 'Model': 'outback'}

In [54]:
class Human:
    #class attribute
    species = "Homo Sapiens"
    
    #initializer
    def __init__(self,FirstName,LastName,age):
        #instance attributes
        self.FirstName = FirstName
        self.LastName = LastName
        self.age = age
    
    #class instance used in function/method
    def show_speices(self):
        print(f"Class species: {Human.species}")
        
    #instance mathods
    def show_details(self):
        print(f"First Name: {self.FirstName} \nLast Name: {self.LastName} \nAge: {self.age}")
    
    #instance return type method
    def is_minor(self):
        if self.age < 18:
            return "Minor"
        else:
            return "Not minor"
        
class Student(Human):
    #class attributes
    college = "Aspire Group of Colleges"
    
    #initializer
    def __init__(self,ID,Major):
        super().__init__(FirstName,LastName,age)
        self.ID = ID
        self.Major = Major
    
    def show_details(self):
        print(f"Id: {self.ID} \nMajor: {self.Major}")

In [55]:
humanA = Human("Amna","Amir",22)
humanB = Human("Bushra","Mafia",21)
std1 = Student(1021, "AI", "Aliya","Amir",15)

TypeError: __init__() takes 3 positional arguments but 6 were given

In [39]:
getattr(humanA, "FirstName", "There is no middleName attribute")

'Mahi'

In [40]:
setattr(humanA, "MiddleName", "Farooq")

In [42]:
delattr(humanA, "MiddleName")

In [51]:
std1.show_details()

Id: 1021
Major: AI

In [56]:
print(1000_00_000)

100000000

In [10]:
import json

person_dict = {'name': 'Bob','age': 12,'children': None}
person_json = json.dumps(person_dict)

In [11]:
print(person_json)

{"name": "Bob", "age": 12, "children": null}

In [1]:
import my as m
m.sum1(2,2)

4

In [1]:
from car import Car

my_new_car = Car('audi', 'a4', 2019)
my_new_car.get_descriptive_name()

2019 Audi A4

In [2]:
my_new_car.odometer_reading = 23
my_new_car.read_odometer()

This car has 23 miles on it.